@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OutfitMedium";
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pitch";
  src: url("/fonts/Pitch-Regular.otf") format("opentype");
}

@theme {
  --font-family-outfit: "Outfit", sans-serif;
  --font-family-outfitMedium: "OutfitMedium", sans-serif;
  --font-family-pitch: "Pitch", serif;

  --color-cream: #efe7de;
  --color-blue: #295cbf;
  --color-dark-blue: #2755a8;
  --color-grey: #efe7de8c;
}

@layer components {
  .heading-1 {
    color: var(--color-blue);
    text-align: center;
    font-family: var(--font-family-outfitMedium);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2.16px;
    text-transform: uppercase;
  }

  .heading-2,
  .numbers-text {
    font-family: var(--font-family-outfitMedium);
    color: var(--color-blue);
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
  }

  .numbers-text {
    margin-right: 14px;
  }

  .body-text,
  .body-small {
    font-family: var(--font-family-outfit);
    color: var(--color-blue);
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
  }

  .button-main,
  .button-small {
    font-family: var(--font-family-pitch);
    color: var(--color-blue);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 10.457px;
    letter-spacing: 1.08px;
    text-transform: uppercase;
  }
}

body,
li {
  cursor:
    url("/cursor_regular.png") 8 8,
    auto !important;
}

a:hover,
button:hover,
a,
button,
li,
input,
textarea {
  cursor:
    url("/cursor_clickable.png") 8 8,
    pointer !important;
}

nav li {
  font-family: var(--font-family-pitch);
  font-size: 12px;
  font-weight: 600;
  line-height: 10.46px;
  letter-spacing: 0.09rem;
  color: var(--color-blue);
  text-transform: uppercase;
}

.text-align-last {
  text-align-last: center;
}

option {
  background-color: var(--color-cream);
  color: var(--color-blue);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

*::placeholder {
  font-family: var(--font-family-outfit);
  color: #efe7de8c;
  font-size: 14px;
  line-height: 23.17px;
  letter-spacing: 0.04rem;
}

*:focus::placeholder {
  color: transparent;
}

#sanity {
  width: 100vw;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid var(--color-blue);
  width: 100%;
}

button,
a {
  border-bottom: 1px solid var(--color-blue);
}

button:hover,
a:hover {
  color: #a7c1d2;
  border-bottom: 1px solid #a7c1d2;
}

.no-color:hover {
  color: var(--color-cream);
  border-bottom: 1px solid var(--color-cream);
}

.no-border {
  border: none !important;
}

@media (min-width: 768px) {
  .heading-1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 2.88px;
    text-transform: uppercase;
  }

  .heading-2 {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.167px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }

  .body-text {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.64px;
  }

  .body-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.167px;
    letter-spacing: 0.56px;
  }

  .button-main {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 21px;
    line-height: 21px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
  }

  .button-small {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    line-height: 23.167px;
    letter-spacing: 1.26px;
    text-transform: uppercase;
  }

  .numbers-text {
    font-family: var(--font-family-outfit);
    color: var(--color-blue);
    font-size: 14px;
    font-weight: 400;
    line-height: 23.167px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    margin-right: 14px;
  }

  nav li {
    font-weight: 600;
    color: var(--color-blue);
    font-size: 1rem;
    line-height: 21px;
    letter-spacing: 0.09rem;
    text-transform: uppercase;
  }
}

.full-width-breakout {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
